html {
    scroll-behavior: smooth; 
    position: relative;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
}
body {
    min-width: 320px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}
.nav {
    height: 40px;
    width: calc(100% - 50px);
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sounds-logo {
    margin: 2.5px;
    width: 35px;
    height: 35px;
    background: url("./assets/svg/logo1.svg");
    background-size: 35px 35px;
    cursor: pointer;
    transition: .8s;
}
.sounds-logo:hover, .sounds-logo.active, .footer-rss:hover {
    filter: invert(26%) sepia(35%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(57%);
    transition: .8s;
}
.navigation {
    margin-right: 50px;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    gap: 20px;
}
.nav.active, .nav-link1.active, .nav-link2.active, .nav-link3.active, .nav-link4.active, .nav-link5.active {
    color: #dfcb73;
    transition: .8s;
}
.nav-link {
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    transition: .8s;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: .8s;
}
.nav-link:hover, a:hover {
    color:#e4b165;
    transition: .8s;
}
.sounds-player {
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    background-image: url("./assets/img/song.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: .5s;
}
.sounds-player.active1 {
    background-image: url("./assets/img/solovey.jpg");
    transition: .5s;
}
.sounds-player.active2 {
    background-image: url("./assets/img/drozd.jpg");
    transition: .5s;
}
.sounds-player.active3 {
    background-image: url("./assets/img/robin.jpg");
    transition: .5s;
}
.sounds-player.active4 {
    background-image: url("./assets/img/javoronok.jpg");
    transition: .5s;
}
.sounds-player.active5 {
    background-image: url("./assets/img/slavka.jpg");
    transition: .5s;
}
.button {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    align-items: center;
    background: transparent;
    background-image: url("./assets/svg/play.svg");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: .5s;
}
.button:hover {
    filter: invert(46%) sepia(85%) saturate(538%) hue-rotate(7deg) brightness(76%) contrast(47%);
    transition: .8s;
}
.button.play {
    background-image: url("./assets/svg/pause.svg");
    background-size: 200px 200px;
    transition: .8s;
}
footer {
    width: 100%;
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.footer-data-link {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    gap: 10px;
}
.footer-rss {
    height: 40px;
    width: 135px;
    margin-right: 50px;
    cursor: pointer;
    transition: .8s;
}
.rss-logo, .rss-link {
    width: 135px;
    height: 35px;
}